<div class="agente-detalle" ng-init="Init_Detalle();">
    <div class=jumbotron>
        <div class=container>
            <div class="row"> 
                <div class="col-sm-5">
                    <h2 ng-bind-html="dataCliente.eje_nombre"></h2>
                    <i class="fa fa-star"></i> 4.33 &nbsp;&nbsp;
                    
                    <!-- Estatus del Agente -->
                    <span class="label label-danger" 
                        ng-show="dataCliente.Clientes_Asignados == 0 && dataCliente.areasActivas == 0">
                        No configurado
                    </span>
                    <span class="label label-warning" 
                        ng-show="dataCliente.Clientes_Asignados == 0 && dataCliente.areasActivas != 0">
                        Clientes no asignados
                    </span>
                    <span class="label label-warning"
                        ng-show="dataCliente.Clientes_Asignados != 0 && dataCliente.areasActivas == 0">
                        Áreas no asignadas
                    </span>
                    <span class="label label-success"
                        ng-show="dataCliente.Clientes_Asignados != 0 && dataCliente.areasActivas != 0">
                        Activo
                    </span>
                </div>
                <div class="col-sm-7">
                    <div class="btn-group pull-right eje-options" role="group" aria-label="...">
                        <button type="button" 
                                class="btn btn-default" 
                                ng-click="editarInfo();">
                            <i class="fa fa-pencil"></i> Editar Información
                        </button>

                        <button type="button" class="btn btn-default" ng-click="getAreaByEmpresa();">
                            <i class="fa fa-plus-circle"></i> Asignar Áreas
                        </button>
                        
                        <button type="button" class="btn btn-default" ng-click="getClientes();">
                            <i class="fa fa-user-plus"></i> Asignar Clientes
                        </button>

                        <button type="button" class="btn btn-warning" 
                            ng-click="ActivarEjecutivo();"
                            ng-show="dataCliente.ese_id == '2'">
                            <i class="fa fa-ban"></i> Activar ejecitivo
                        </button>

                        <button type="button" class="btn btn-danger" 
                            ng-click="DeshabilitarEjecutivo();"
                            ng-show="dataCliente.ese_id != '2'">
                            <i class="fa fa-ban"></i> Deshabilitar
                        </button>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-4">
                    <h4>Información</h4>
                    <table class="table">
                        <tr>
                            <th>Email</th>
                            <td>{{ dataCliente.eje_email }}</td>
                        </tr>
                        <tr>
                            <th>Teléfono</th>
                            <td>{{ dataCliente.eje_telefono }}</td>
                        </tr>
                        <tr>
                            <th>Celular</th>
                            <td>{{ dataCliente.eje_celular }}</td>
                        </tr>
                        <tr>
                            <th>Fecha de registro</th>
                            <td>{{ dataCliente.timestamp }}</td>
                        </tr>
                    </table>
                </div>

                <div class="col-sm-2"></div>
                <div class="col-sm-4">
                    <h4>Áreas Asignados</h4>
                    <table class="table">
                        <tr>
                            <th>#</th>
                            <th>Area</th>
                            <th>Fecha de asignación</th>
                        </tr>
                        <tr class="" ng-repeat="(key, area) in dataCliente.Areas | filter: {ejar_estatus : 1}">
                            <th>{{ key + 1 }}</th>
                            <td>{{ area.ca_nombre }}</td>
                            <td>{{ area.timestamp }}</td>
                        </tr>

                        <tr ng-show="dataCliente.areasActivas == 0">
                            <td colspan="3"> <h5>No hay áreas asignadas para este ejecutivo</h5> </td>
                        </tr>
                    </table>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-sm-12">
                    <h4>Clientes Asignados</h4>
                    <table id="clientes" class="table table-hover" width="100%">
                        <thead>
                            <th>Id</th>
                            <th>Cliente</th>
                            <th>Representante</th>
                            <th>RFC</th>
                            <th>email</th>
                            <th>Teléfono</th>
                            <th>Celular</th>
                            <th>Rasón Social</th>
                            <th>Tipo</th>
                            <!-- <th>Opciones</th> -->
                        </thead>
                        <tbody>
                            <!-- <tr ng-repeat="eje in Ejecutivos | filter:{ Clientes_Asignados: 1 }"> -->
                            <tr ng-repeat="cli in clientes">
                                <td>{{ cli.cli_id }}</td>
                                <td>{{ cli.cli_rason_social }}</td>
                                <td>{{ cli.cli_nombre }}</td>
                                <td>{{ cli.cli_rfc }}</td>
                                <td>{{ cli.cli_email }}</td>
                                <td>{{ cli.cli_telefono }}</td>
                                <td>{{ cli.cli_celular }}</td>
                                <td>{{ cli.cli_rason_social }}</td>
                                <td>
                                    <span class="label label-primary" ng-show="cli.clej_primario == 1">Primario</span>
                                    <span class="label label-default" ng-show="cli.clej_primario == 2">Soporte</span>
                                </td>
                                <!-- <td>Botones y más cosas</td>                                 -->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Informacion -->
<div class="modal fade" id="modal_informacion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Información del ejecutivo</h4>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tr>
                        <th width="25%">Nombre</th>
                        <td>
                            <input type="text" name="" class="form-control" ng-model="frmInfo.eje_nombre">
                        </td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>
                            <input type="text" name="" class="form-control" disabled="" ng-model="frmInfo.eje_email">
                        </td>
                    </tr>
                    <tr>
                        <th>Teléfono</th>
                        <td>
                            <input type="text" name="" class="form-control" ng-model="frmInfo.eje_telefono">
                        </td>
                    </tr>
                    <tr>
                        <th>Celular</th>
                        <td>
                            <input type="text" name="" class="form-control" ng-model="frmInfo.eje_celular">
                        </td>
                    </tr>
                    <tr>
                        <th>Fecha de registro</th>
                        <td>{{ dataCliente.timestamp }}</td>
                    </tr>
                </table>
                <br>

                <div class="alert alert-{{ alert_info.type }}" ng-show="alert_info.show">
                    <strong>¡{{ alert_info.title }}!</strong> {{ alert_info.msg }}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" ng-click="updateInfo();">Guardar cambios</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Áreas -->
<div class="modal fade" id="modal_areas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Asignación de áreas</h4>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tr>
                        <th>#</th>
                        <th>Area</th>
                        <th>Fecha de asignación</th>
                        <th>&nbsp;</th>
                    </tr>
                    <tr class="" ng-repeat="(key, area) in areas">
                        <td width="10%"> 
                            <input type="checkbox" 
                                   ng-model="area.checked" 
                                   ng-disabled="area.disabled"
                                   ng-checked="area.checked">
                        </td>
                        <th>{{ key + 1 }}</th>
                        <td>{{ area.ca_nombre }}</td>
                        <td ng-bind-html="area.mensaje"></td>
                    </tr>

                    <tr ng-show="areas.length == 0">
                        <td colspan="3"> <h5>No hay áreas asignadas para este ejecutivo</h5> </td>
                    </tr>
                </table>
                <br>

                <div class="alert alert-{{ alert_info.type }}" ng-show="alert_info.show">
                    <strong>¡{{ alert_info.title }}!</strong> {{ alert_info.msg }}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" ng-click="AsignarAreas();">Guardar cambios</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Clientes -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" id="modal_clientes" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Asignación de Clientes</h4>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tr>
                        <th> # </th>
                        <th> Rasón Social </th>
                        <th> RFC </th>
                        <th> Email </th>
                        <th> &nbsp; </th>
                    </tr>
                    <tr ng-repeat="(key, cli) in cat_clientes | filter: {match: 1}">
                        <td> 
                            <input type="checkbox" 
                                   ng-checked="cli.asignado" 
                                   ng-disabled="cli.disabled"
                                   ng-hide="cli.disabled"
                                   ng-model="cli.asignado">
                            <span class="label label-primary" 
                                  ng-show="cli.disabled"                                  
                                  title="Asignado a otro ejecutivo"> <i class="fa fa-check"></i> </span>
                        </td>
                        <td> {{ cli.cli_rason_social }} </td>
                        <td> {{ cli.cli_rfc }} </td>
                        <td> {{ cli.cli_email }} </td>
                        <td ng-bind-html="cli.mensaje"></td>
                    </tr>
                </table>
                <br>

                <div class="alert alert-{{ alert_info.type }}" ng-show="alert_info.show">
                    <strong>¡{{ alert_info.title }}!</strong> {{ alert_info.msg }}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" ng-click="asignarCliente();">Guardar cambios</button>
            </div>
        </div>
    </div>
</div>