<div class="nuevo-agente" ng-init="Init_Nuevo();">
    <div class=jumbotron>
        <div class=container>
            <div class="row"> 
                <div class="col-sm-12">
                    <h4>Nuevo ejecutivo</h4>
                </div>
            </div>
            <div class="row"> 
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="row"> 
                <div class="col-sm-7">
                	<small>Nombre completo</small><br>
                    <input type="text" class="form-input nombre_completo" placeholder="" ng-model="ejecutivo.nombre">
                </div>
            </div>
            <br>
            <div class="row"> 
                <div class="col-sm-4">
                    <small>Email</small><br>
                    <input type="text" class="form-input" placeholder="" ng-model="ejecutivo.email">
                </div>
                <div class="col-sm-4">
                    <small>Teléfono</small><br>
                    <input type="text" class="form-input" placeholder="" ng-model="ejecutivo.telefono">
                </div>
                <div class="col-sm-4">
                    <small>Celular</small><br>
                    <input type="text" class="form-input" placeholder="" ng-model="ejecutivo.celular">
                </div>
            </div>
            
            <br><br><br>
            <div class="row"> 
                <div class="col-sm-12">
                    <div class="pull-right">
                        <a ui-sref=agentes class="btn btn-default"> <i class="fa fa-ban"></i> Cancelar </a>

                        <button type="button" class="btn btn-default" ng-click="SaveEjecutivo()">
                            <i class="fa fa-plus-circle"></i> Guardar y continuar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>